/*Author : RaDiO LaTiDo MusiCal by KuAkMaN*/

/*  css styles  */
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
/*font arimo google*/
@import url("https://fonts.googleapis.com/css?family=Arimo");

html {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.logo {
  width: 512px;
  height: auto;
}

/*sistema de grilla para mostrar los horarios*/
.horarios {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin: 10px;
  grid-auto-rows: minmax(100px, auto);
  
}

.horario {
    font-family: "arimo", sans-serif;
    font-weight: 400;
  background: rgba(231, 227, 227, 0.2);
  border-radius: 22px;
  box-shadow: 0 4px 30px rgba(196, 181, 181, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(231, 227, 227, 0.3);
  padding: 10px;
  border-radius: 5px;
  min-width: 185px;
  min-height: auto;
}
.dia {
  font-size: 24px;
  text-align: center;
}
.dj {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}
.hora {
  font-size: 18px;
  text-align: left;
  margin-top: 5px;
}


/*articles*/
li {
    font-size: large;
  list-style: none;
  padding: 2px;

}

ul {
  display: flex;
  flex-direction: row;
}  



@media screen and (max-width: 714px) {
  .horarios {
    display: block;
    min-width: 185px;
    min-height: auto;
  }
  .logo {
    width: 302px;
    height: auto;
  }
}
