/* css grid styles */
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");

html {
  background-image: url("https://radiolatidomusical.github.io/web/images/fondo.png");
  background-size: cover;
}

body {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

table {
  /* From https://css.glass */
  background: rgba(231, 227, 227, 0.2);
  border-radius: 22px;
  box-shadow: 0 4px 30px rgba(196, 181, 181, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  
  width: 640px;
  min-width: 840px;
  height: 100%;
  min-height: 100%;
  padding: 9px;
  border: 0px;
}

th {
  padding: 8px;
  border: 0px;
}

td {
  
  text-align: center;
  border: 0px ;
  border-spacing: 0px;
  border-collapse: collapse;
}
table tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px;
}

.dj_pimi3nta {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(238, 232, 232);
  text-shadow: 3px 2px 6px rgb(3, 3, 3);
  padding:  12px;
  border-radius: 12px;
  background-color: rgb(194, 10, 10);
  box-shadow: 0 4px 8px 0 rgba(100, 17, 17, 0.2),
    0 6px 20px 0 rgba(155, 44, 44, 0.19);
  max-width: 150px;  
}

.dj_dama {
    text-shadow: 3px 2px 6px rgb(3, 3, 3);
    color: rgb(238, 232, 232);
 
    border-radius: 12px;
    background-color: rgb(206, 21, 123);
    box-shadow: 0 4px 8px 0 rgba(100, 17, 17, 0.2),
      0 6px 20px 0 rgba(155, 44, 44, 0.19);
    padding: 12px;
    max-width: 130px;
  }

.dj_huexo {
  text-shadow: 3px 2px 6px rgb(14, 13, 15);
  color: rgb(240, 235, 235);
  padding: 
  12px;
  border-radius: 12px;
  background-color: rgb(86, 7, 214);
  text-shadow: 0 4px 8px 0 rgba(100, 17, 17, 0.2),
    0 6px 20px 0 rgba(155, 44, 44, 0.19);
    max-width: 130px;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 74px;
  text-align: center;
  padding: 9px;
  font-family: "Bowlby One SC";
  font-stretch: extracondensed;
  font-style: italic;
  letter-spacing: 0.3625em;
  text-shadow: 3px 2px 6px rgb(19, 13, 6);
}

#logo {
  width: 340px;
  height: auto;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;

}

.tcontent{
  display: flex;
  align-items: center;
  justify-content: center;
}



@media screen and (max-width: 340px) {
    h3{
        font-size: 33px;}
  #logo {
    width: 300px;
    height: auto;
  }

  body {
    margin-left: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #content {
    display: block;
    margin-left: 40px;
    overflow-x: scroll;
  }
  table {
    border-radius: 15px;
    width: 640px;
    min-width: fit-content;
  }
  td {
    padding: 6px;
  }
}

/*buttons css*/

.myButton {
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #7892c2),
    color-stop(1, #476e9e)
  );
  background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color: #7892c2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 6px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.myButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #476e9e),
    color-stop(1, #7892c2)
  );
  background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color: #476e9e;
}
.myButton:active {
  position: relative;
  top: 1px;
}
